<nav class="navbar">
  <div class="links">
    <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
    <li>
      <a routerLink="/timeline" routerLinkActive="active-link">Timeline</a>
    </li>
    <li>
      <a routerLink="/userprofile" routerLinkActive="active-link">UserInfo</a>
    </li>
    <li>
      <a routerLink="/notification" routerLinkActive="active-link"
        >Notification</a
      >
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active-link">contact</a>
    </li>
    <li (click)="logout()">LogOut</li>
  </div>
</nav>
