
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #f1f1f1; */
    background-image: url('../../../assets/images/10784051.jpg');
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}
.Signup {
    /* background-color: #ab65b08b; */
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(223, 219, 219, 0.5);
    width: 100%;
    max-width: 400px;
    background: transparent;
}

.Signup h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.Signup a{
    color: white;
}

/* Label and input field styling */
label {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.Signup input {

    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
}

.Signup input:focus {
    border-color: #3498db;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

p a {
    color: #3498db;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Error message section */
#errorMessages {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

/* Responsive styling */
@media (max-width: 480px) {
    .login {
        padding: 20px;
        width: 90%;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}
