<app-navbar></app-navbar>
<!-- <div class="container">
    <div class="left-panel">
      <ul class="menu-items">
        <button class="btn" routerLink="/tasks">Profile</button>
        <button class="btn" routerLink="/signup">Signup</button>
        <button class="btn" routerLink="/dashboard">Create Task</button>
        <button class="btn" routerLink="/login">Login</button>
        <button class="btn" (click)="logout()">logout</button>
      </ul>
    </div> -->
  
<!--     
  </div> -->
  <!-- <div class="right-panel">
  </div> -->
  
  <app-timeline></app-timeline>