<p>calculator works!</p>

<div class="calculator">
    <input type="number" [(ngModel)] = "number1" placeholder="Enter First Number">
    <select [(ngModel)] = "operator" >
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" [(ngModel)] = "number2" placeholder="Enter Second Number">
    <button (click)="calculate()">Calculate</button>

    <div *ngIf="result !== null">
        <h3>Result : {{ result }}</h3>
    </div>
</div>