<nav class="navbar">
  <div class="links">
    <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
    <li>
      <a routerLink="/timeline" routerLinkActive="active-link">Timeline</a>
    </li>
    <li>
      <a routerLink="/userprofile" routerLinkActive="active-link">UserInfo</a>
    </li>
    <li (click)="logout()">LogOut</li>
  </div>
</nav>

<div class="maindiv">
  <div *ngIf="posts.length > 0; else noPosts">
    <div *ngFor="let post of posts" class="post_div">
      <strong class="username">{{ post.username }}</strong>
      <div class="user_posts">
        <p class="posttitle">{{ post.title }}</p>
        <p class="postdes">
          {{ post.description }}
        </p>

        <img
          *ngIf="post.image"
          [src]="'http://localhost:3000/' + post.image"
          alt="Post Image"
          class="post-image"
        />
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <p>No posts available.</p>
  </ng-template>
</div>
