<div class="maindiv">
  <div *ngIf="posts.length > 0; else noPosts">
    <div *ngFor="let post of posts" class="post_div">
      <!-- Show Reshare Info -->
      <div
        *ngIf="post.resharedBy && post.resharedBy.length > 0"
        class="reshareusername"
      >
        <strong>Reshared by:</strong>
        <span *ngFor="let user of post.resharedBy; let isLast = last">
          {{ user }}<span *ngIf="!isLast">, </span>
        </span>
      </div>

      <strong class="username">{{ post.username }}</strong>
      <div class="user_posts">
        <p class="posttitle">{{ post.title }}</p>
        <p class="postdes">
          {{ post.description }}
        </p>

        <img
          *ngIf="post.image"
          [src]="'http://localhost:3000/' + post.image"
          alt="Post Image"
          class="post-image"
        />

        <!-- Follow button logic -->

        <button
          *ngIf="post.status !== 'accepted'"
          (click)="followUser(post.username)"
        >
          {{ post.status === "pending" ? "pending" : "Follow" }}
        </button>

        <span *ngIf="post.status === 'accepted'">Following</span>

        <!-- Indicator for Reshared Post -->

        <button (click)="reshare(post._id)" class="resharebtn">Reshare</button>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <p>No posts available.</p>
  </ng-template>

  <!-- Notifications Section -->
  <!-- <div *ngIf="notifications.length > 0" class="notifications">
    <div *ngFor="let notification of notifications" class="notification">
      <p>{{ notification.message }}</p>

      Accept Friend Request Button -->
  <!-- <button
        *ngIf="notification.type === 'friend-request'"
        (click)="acceptFollowRequest(notification.id)"
      >
        Accept Request
      </button>

      <button (click)="dismissNotification(notification.id)">Dismiss</button>
    </div>
  </div>

 Display Current Notification (optional) -->
  <!-- <div *ngIf="currentNotification" class="current-notification">
    <p>{{ currentNotification }}</p>
  </div>  -->
  <!-- 
  <div *ngIf="notifications.length > 0" class="notifications">
    <div *ngFor="let notification of notifications" class="notification">
      <p>{{ notification.message }}</p>

      <button
        *ngIf="notification.type === 'friend-request'"
        (click)="acceptFollowRequest(notification.id)"
      >
        Accept Request
      </button>

      <button (click)="dismissNotification(notification.id)">Dismiss</button>
    </div>
  </div>
</div> -->
</div>
