<app-navbar></app-navbar>

<form (submit)="createPost($event)" method="POST" enctype="multipart/form-data" id="createPostForm">
  <label for="title">Title:</label>
  <input type="text" id="title" [(ngModel)]="title" name="title" required />

  <label for="description">Description:</label>
  <textarea id="description" [(ngModel)]="description" name="description" required></textarea>

  <label for="postPicture">Picture:</label>
  <input type="file" id="postPicture" (change)="onFileSelected($event)" name="postPicture" required />

  <button type="submit">Create Post</button>
</form>
