<div class="nav-container">
  <div class="navbar">
    <div class="logo"></div>
    <nav>
      <ul>
        <li><i class="fa-solid fa-user"></i><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
        <li><i class="fa-solid fa-upload"></i><a routerLink="/createpost" routerLinkActive="active-link">Upload</a></li>
        <li><i class="fa-solid fa-gear"></i><a routerLink="/userinfo" routerLinkActive="active-link">Settings</a></li>
        <li><i class="fa-solid fa-search"></i><a routerLink="/search" routerLinkActive="active-link">Search</a></li>
        <li><a routerLink="/notifications"><i class="fa-solid fa-bell"></i></a></li>
      </ul>
    </nav>
    <button (click)="logout()" class="logout-button">
      <i class="fa-solid fa-right-from-bracket"></i>Logout
    </button>
  </div>

  <!-- Timeline Section -->
  <div class="post-list">
    <div *ngFor="let post of posts" class="post-item">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <img *ngIf="post.photo" [src]="'http://localhost:3001' + post.photo" alt="Post Photo" />
      <div class="post-actions">
        <button class="like-button">Like</button>
        <button class="comment-button">Comment</button>
      </div>
    </div>
  </div>
</div>
