<div class="container">
    <div class="header">
        <p>Timeline</p>
        <p>Profile</p>
        <!-- <p>Notification</p> -->
    </div>
    <div class="main">
        <button class="create-btn" (click)="createPage()">Create Post</button>
        <div class="post" *ngFor="let post of posts">
            <h2>{{post.title}}</h2>
            <p style="margin-top: 10px;">
           {{post.content}}
            </p>
            <div class="btns">
                <button class="btn">Like</button>
                <button class="btn">Comment</button>
                <button class="btn" (click)="editPage(post._id)">Edit</button>
            </div>
        </div>
    </div>
</div>
