<nav class="flex w-[100%] m-auto text-black bg-slate-200 px-10 py-6">
  <img
    src="../../../assets/Binary-Breeze-01.png"
    [routerLink]="['/']"
    class="w-[6%]"
  />
  <p
    *ngIf="auth.isAuthenticated"
    class="ml-auto mr-8 cursor-pointer"
    [routerLink]="['/create-post']"
  >
    Create post
  </p>
  <p *ngIf="auth.isAuthenticated" class="cursor-pointer">
    Logout({{ auth.username }})
  </p>
  <p
    *ngIf="!auth.isAuthenticated"
    class="ml-auto mr-8 cursor-pointer"
    [routerLink]="['/login']"
  >
    Login
  </p>
  <p
    *ngIf="!auth.isAuthenticated"
    class="cursor-pointer"
    [routerLink]="['/signup']"
  >
    Signup
  </p>
</nav>
