
<div class="container">
    <div class="login">
        <h1>Login To <br> Websit Social App </h1>
        <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter Your email" ngModel required>
            <br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" ngModel required>
            <br><br>
            <input type="submit" value="Login">
        </form>
        <p>Create the account? <a href="/signup">SignUp</a></p>
    </div>
</div>