.maindiv{
    width: 400px;
    height: 250px;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 7px;
    border: 1px solid gray;
    background-color: rgb(196, 200, 199);
}
.heading{
    width: 100%;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    background-color: aquamarine;
}
.content{
    margin-left: 25%;

}