.notification-container{
  margin-top: 5%;
}

 .notifications {
  position: fixed;
  top: 5%;
  right: 20px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.notification {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

button {
  margin-top: 5px;
}