<div class="notification-container">
  <h2>Notifications</h2>

  <div class="notifications" *ngIf="friendRequests.length > 0">
    <div *ngFor="let request of friendRequests">
      <div class="notification">
        <p>{{ request.message }}</p>
        <p>From: {{ request.fromUser }}</p>
        <button (click)="acceptRequest(request._id, request.fromUser)">
          Accept
        </button>
        <button (click)="rejectRequest(request._id)">Reject</button>
      </div>
    </div>
  </div>

  <ng-template #noRequests>
    <p>No new friend requests.</p>
  </ng-template>
</div>
