form{
    width: 350px;
    margin: 0 auto;
    padding: 18px;
    border: 1px solid #dddd;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid aliceblue;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;

}

button{
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(1, 68, 1);
}

input::placeholder{
    color: #999999;
    font-size: 14px;
}